{% load thumbnail %}

<div class="card">
    <div class="card-header">
        <img src="{{ post.author.avatar_url }}" alt="" style="width:32px; height: 32px;"/>
        <a href="{% url 'instagram:user_page' post.author.username %}">{{ post.author.name }}</a>
    </div>
    <div class="card-body">
        <img src="{% thumbnail post.photo 256x256 crop %}" alt=""/>
    </div>
    <div class="card-footer">
        {% for tag in post.tag_set.all %}
            <span class="badge badge-primary">
                #{{ tag }}
            </span>
        {% endfor %}
    </div>
</div>